body {
  background-color: palevioletred;
  top: 0px;
  text-align: center;
}
div {
  height: 50px;
  width: 100px;
  display: inline-block;
  border: 2px solid blue;
}
#container {
  display: flex;
  justify-content: center;
  /* flex: column-reverse; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* display: flex; */
  /* flex-direction: row;
  justify-content: flex-end;
  justify-content: space-around; 
  justify-content: space-evenly,space-between*/
  flex-direction: row;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
    /* align-items: center;==isme space reh jati hai bich mai */
  /* align-content: center; ===isme spacenahi rehti hai  */
  /* align-content: flex-start; */
  /* align-content: flex-end; */



  height: 200px;
  width: 400px;
  background-color: black;
}
#box1 {
  background-color: white;
}
#box2 {
  background-color: pink;
  height: 100px;
  flex-grow: 1;
}
#box3 {
  background-color: blue;
}
#box4 {
  background-color: red;
}
#box5 {
  background-color: aqua;
}
